.card {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 600px;
    text-align: center;
  }
  
  .title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #12714C;
    margin-bottom: 20px;
  }
  
  .chartContainer {
    width: 100%;
    height: 400px;
  }
  
  .backButton {
    display: inline-block;
    margin-bottom: 20px;
    padding: 10px 20px;
    background-color: #12714C;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .backButton:hover {
    background-color: #0f603f;
  }
  